div.contact#contact
  div(itemscope='', itemtype='http://schema.org/Person')
    meta(itemprop='name', content='#{data.title}')
    meta(itemprop='image', content='#{data.meta.touch_icon}')
    meta(itemprop='jobtitle', content='GUI developer')
    ul
      li
        a(href='tel:#{data.about.phone.compressed}', itemprop='telephone', content='#{data.about.phone.formatted}')
          i.fa.fa-fw.fa-phone
      li
        a(href='mailto:#{data.about.email}', itemprop='email', content='#{data.about.email}')
          i.fa.fa-fw.fa-envelope
      - each social in data.about.social
        li
          a(href='#{social.url}', title='#{social.name}', rel='nofollow', target='_blank')
            i(class='fab fa-fw fa-#{social.icon}')
    span(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
      meta(itemprop='addressLocality', content='Stockholm')
      meta(itemprop='postalCode', content='10573')
      meta(itemprop='addressCountry', content='SE')
