li(class='item')
  figure
    include _image.jade
    figcaption
      h3
        span #{project.title}
          if project.url
            a(href='#{project.url}', rel='nofollow', target='_blank')
              i.fa.fa-external-link-alt
      button.read-more(data-text='Read more')
        i.fa.fa-fw.fa-ellipsis-h
      .info-wrapper
        .info
          if project.description
            h4 #{project.description}
          p
            strong Company:
            a(href='#{project.company.url}', rel='nofollow', target='_blank') #{project.company.name}
          if project.year
            p
              strong Year:
              =project.year
          if project.techniques
            ul.techniques
              li
                strong Techniques:
              - each technique in project.techniques
                li #{technique}
          if project.awards
            .awards-wrapper
              h4 Awards
              ul.awards
                - each award in project.awards
                  li(class='#{award.placement}')
                    h5
                      a(href='#{award.url}', rel='nofollow', target='_blank') #{award.title}
                    p
                      strong Category:
                      =award.category
                    p
                      strong Year:
                      =award.year
      button.read-less
        i.fa.fa-fw.fa-times
