li(class='item #{project.shortname}')
  figure
    include _image.jade
    figcaption
      h2
        if project.url
          a(href='#{project.url}', rel='nofollow', target='_blank') #{project.title}
        else
          =project.title
      input(id='#{project.id}', type='checkbox')
      label.toggle-info(for='#{project.id}')
      //- button.toggle-info
      .info-wrapper
        .info
          if project.description
            h3 #{project.description}
          p
            strong Company:
            a(href='#{project.company.url}', rel='nofollow', target='_blank') #{project.company.name}
          if project.year
            p
              strong Year:
              =project.year
          if project.techniques
            ul.techniques
              li
                strong Techniques:
              - each technique in project.techniques
                li #{technique}
          if project.awards
            .awards-wrapper
              h3 Awards
              ul.awards
                - each award in project.awards
                  li(class='#{award.placement}')
                    h4
                      a(href='#{award.url}', rel='nofollow', target='_blank') #{award.title}
                    p
                      strong Category:
                      =award.category
                    p
                      strong Year:
                      =award.year
