doctype html
html(⚡='', lang='en')
  head
    meta(charset='utf-8')
    script(async='', src='https://cdn.ampproject.org/v0.js')
    link(rel='canonical', href='http://www.henrikbackman.com')
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    meta(http-equiv='x-ua-compatible', content='ie=edge')

    title= data.site_title

    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    style
      include ../../public/assets/app.css

    meta(name='description', content='#{data.meta.description}')
    meta(name='keywords', content='#{data.meta.keywords}')

    meta(property='og:site_name', content='#{data.meta.og.site_name}')
    meta(property='og:title', content='#{data.meta.og.title}')
    meta(property='og:description', content='#{data.meta.og.description}')
    meta(property='og:image', content='#{data.meta.og.image}')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{data.meta.og.url}')

    link(rel='author', href='#{data.meta.gplus}')
    link(rel='publisher', href='#{data.meta.gplus}')
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico?v=#{data.meta.updated}')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700')
    link(rel='apple-touch-icon-precomposed', href='#{data.meta.touch_icon}?v=#{data.meta.updated}')
    meta(name='apple-mobile-web-app-title', content='henrikbackman')
  body
    section.wrap.clearfix
      header.header
        h1= data.title
        p= data.subtitle
      main
        block content
    script(src='#{data.assetPath}app.js')
    script.
      var _gaq=[['_setAccount','UA-3520759-2'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));
