doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title= data.site_title
    meta(name='description', content='#{data.meta.description}')
    meta(name='keywords', content='#{data.meta.keywords}')

    meta(property='og:site_name', content='#{data.meta.og.site_name}')
    meta(property='og:title', content='#{data.meta.og.title}')
    meta(property='og:description', content='#{data.meta.og.description}')
    meta(property='og:image', content='#{data.meta.og.image}')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{data.meta.og.url}')

    link(rel='author', href='#{data.meta.gplus}')
    link(rel='publisher', href='#{data.meta.gplus}')
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico?v=#{data.meta.updated}')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700')
    link(rel='stylesheet', href='#{data.assetPath}app.css')
    link(rel='apple-touch-icon-precomposed', href='#{data.meta.touch_icon}?v=#{data.meta.updated}')
    meta(name='apple-mobile-web-app-title', content='henrikbackman')
  body
    .wrap.clearfix
      header.header
        h1= data.title
        p= data.subtitle
      block content
  script(src='#{data.assetPath}app.js')
  script.
    var _gaq=[['_setAccount','UA-3520759-2'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));
